body {
    font-family: Open Sans;
    background-color: #FCFCFC;
}

h3 {
    color: #393F4C;
}

.container-fluid {
    padding-left: 150px;
    padding-right: 25px;
}

a {
    outline: none !important;
}

.row.well {
    border-radius: .80em;
    background-color: #F3F3F3;
    color: #393F4C;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.well {
    padding: 10px 0;
}

.btn-primary {
    background-color: #393F4C;
    color: #5FFFA4;
    border: none;
    border-radius: .40em;
    margin-top: 10px;
    height: 30px;
}

    .btn-primary:hover {
        background-color: #09C18B;
    }

button.pull-right {
    margin-right: 8px;
}

.new-title {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* CONTENT */
.text-content:hover {
    background-color: #EBEBEB;
}

.clickable-content {
    cursor: pointer;
}

.title {
    font-size: 16px;
    margin-bottom: 5px;
}
/* END CONTENT */

/* LABELS */

.label-date {
    border: none;
    width: 112px;
    height: 25px;
    margin-top: 4px;
    font-size: 15px;
    padding-top: 4px;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #FFA4AD;
    background-color: #393F4C;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}

.label-viewed {
    border: none;
    width: 90px;
    height: 25px;
    margin-top: 4px;
    font-size: 15px;
    padding-top: 4px;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #F2E784;
    background-color: #393F4C;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}

span.glyphicon {
    font-size: 14px;
    margin-right: 5px;
}

#viewed {
    font-size: 16px;
    position: relative;
    bottom: 1px;
}

.label-price {
    border: none;
    width: 83px;
    height: 25px;
    margin-top: 4px;
    margin-left: 8px;
    font-size: 15px;
    padding-top: 5px;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #FFA4AD;
    background-color: #393F4C;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}

.label-author {
    border: none;
    width: 162px;
    height: 25px;
    margin-top: 4px;
    padding-top: 4px;
    font-size: 15px;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #5FFFA4;
    background-color: #393F4C;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}
/* END LABELS */
/* SHOP */

.product-name {
    font-size: 16px;
    color: #00004A;
    margin-bottom: 10px;
}

div.container {
    max-width: 290px;
    width: 96%;
    padding-left: 0;
    padding-right: 0;
}

.smallImages {
    width: 100%;
    height: auto;
    border: 1px solid #e3e3e3;
    background: #fff;
    margin-bottom: 10px;
}

    .smallImages:hover {
        background: #ffffff;
    }

/* END SHOP */

/* NAVIGATION MENU */
.navmenu-nav {
    margin-top: 20px;
}

.navmenu-default {
    background-color: #393F4C;
}

.navmenu-brand {
    color: #fff;
}

.navmenu {
    width: 7%;
    border: none;
}

.glyphicon {
    font-size: 20px;
}

.active {
    background-color: #5E6471;
    color: #5FFFA4;
}

li div a {
    color: #EAEAEA;
    height: 75px;
    width: 100%;
    padding: 15px 0;
}

    li div a:hover {
        text-decoration: none;
        color: #5FFFA4;
    }

    li div a:focus {
        text-decoration: none;
        color: #5FFFA4;
    }

.navigation-couple div {
    font-size: 13px;
    padding-top: 7px;
}

.navigation-couple {
    text-align: center;
}
/* END NAVIGATION MENU */

/* HEADER */
header {
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0;
}

.nav-center {
    margin: 10px 0;
    text-align: right;
}

    .nav-center ul {
        text-align: right;
        margin: 0;
        padding: 0;
    }

        .nav-center ul li {
            margin: 0 5px 0 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            *display: inline; /* ie7 */
        }

            .nav-center ul li a {
                padding: 3px 12px;
                text-decoration: none;
                color: #393F4C;
                line-height: 100%;
            }
/* END HEADER */

/* FOOTER */
footer {
    border-top: 1px solid #e3e3e3;
}
/* END FOOTER*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
