body {
    max-width: 1550px;
    font-family: Open Sans;
}

.container-fluid{
    margin: 0 50px;
}

a {
    outline: none !important;
}

.smallImages{
    width: 450px;
    border: 1px solid #e3e3e3;
}

.row{
    margin-top: 20px;
}

.row.well{
    border-radius: 0;
    background-color: #F8F8F8;
}

/* NAVIGATION MENU */
.navmenu-nav {
    margin-top: 20px;
}

.navmenu {
    width: 5%;
    border: none;
}

.glyphicon {
    font-size: 20px;
}

.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
    color: #D0D0D0;
}

.active {
    background-color: #ffffff;
    color: #808080;
}

li div a {
    color: #D0D0D0;
    height: 75px;
    width: 100%;
    padding: 15px 0;
}

    li div a:hover {
        text-decoration: none;
        color: #808080;
    }

    li div a:focus {
        text-decoration: none;
        color: #808080;
    }

.navigation-couple div {
    font-size: 13px;
    padding-top: 7px;
}

.navigation-couple {
    text-align: center;
}
/* END NAVIGATION MENU */

/* HEADER */
.page-header {
    height: 79px;
    margin: 0;
    border: none;
    background-color: #FFF;
}
/* END HEADER */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
